# Project 3

Using any of the three classifiers described in chapter 6 of Natural Language Processing with Python, and any features you can think of, build the best name gender classifier you can. Begin by splitting the Names Corpus into three subsets: 500 words for the test set, 500 words for the dev-test set, and the remaining 6900 words for the training set. Then, starting with the example name gender classifier, make incremental improvements. Use the dev-test set to check your progress. Once you are satisfied with your classifier, check its final performance on the test set.

How does the performance on the test set compare to the performance on the dev-test set? Is this what you'd expect?

Source: Natural Language Processing with Python, exercise 6.10.2.

## Required Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk

## Load Names Corpus Dataset

In [29]:
files = nltk.corpus.names.fileids()
files

['female.txt', 'male.txt']

## Merge both text files into one DataFrame

In [52]:
names_df = pd.DataFrame(columns=['name', 'gender'])

for file in files:
    name, extension = file.split('.')
    temp_df = pd.DataFrame({'name':names.words(file), 'gender':name})
    names_df = pd.concat([names_df, temp_df])

In [53]:
names_df

         name  gender
0     Abagael  female
1     Abagail  female
2        Abbe  female
3       Abbey  female
4        Abbi  female
...       ...     ...
2938     Zeus    male
2939    Zippy    male
2940   Zollie    male
2941    Zolly    male
2942    Zorro    male

[7944 rows x 2 columns]

## Exploratory Data Analysis

## Create Gender Features

In [ ]:
def gender_features(name):
        "last_letter": names[-1],  # Last letter of the name
        "first_letter": names[0],  # First letter of the name
        "last_two": names[-2:],  # Last two letters
        "first_two": names[:2],  # First two letters
        "name_length": len(names),  # Length of the name
        "vowel_count": sum(1 for char in names.lower() if char in "aeiou")  # Number of vowels